numpy>=1.26,<2.0
pandas>=2.2,<3.0
scipy<1.12.0
scikit-learn>=1.4,<2.0
pyarrow>=14,<19   
matplotlib==3.8.4
seaborn==0.13.2
xgboost>=2.0.0,<3.0.0
dtale==3.12.0
dash==2.9.3
statsmodels
mlflow>=2.11.0,<3.0.0
python-dotenv
kagglehub
borutashap
graphviz
lightgbm==4.3.0
catboost>=1.2.0
